## src folder
src
.babelrc
rollup.config.js
## node_modules folder
node_modules
## git repo related files
.git
.gitignore
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.DS_Store
npm-debug.log
.npmrc
# others
config.gypi
package-lock.json